@media only screen and (min-width: 57rem) {
  li a {
    padding: .5rem 1rem;
  }
  
  nav button {
    display: none;
  }

  nav ul#primNav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: 2vw; */
    border-left: 1px solid #1C7377;
    text-align: center;
    border-top: none;
  }

  .footerTitle {
    margin-right: 20%;
  }

  .years {
    margin-left: 30%;
  }

  .visitDate {
 
  }

  .greengrapes {
    display: flex;
  }

  .waterMelon {
    display: flex;
  }

  .heroaddress {
    display: inline;
    position: absolute;
    top: 15%;
    left: 5%;
    background-color: #ADD8CF;
    padding: 10px;
    text-align: center;
    color: #0d3233;
    width: 15%;
    box-shadow: 10px 10px 10px #000;
    opacity: 0.9;
    border-radius: 5px;
    width: 20%;
  }

  .addTitle {
    border-bottom: 1px solid #1C7377;
    margin: 0px;
    padding: 0px;
  }

  .heroAddress{
    border-bottom: none;
    background: none;
  }

  .heroTitle {
    right: 15%;
    width: 42%;
    font-size: 2.2rem;
    text-align: left;
    width: 40%;
  }

  .herobtn {
    right: 4%;
    top: 70%;
    padding: 20px;
    width: 200px;
    font-size: 1rem;;
  }
  
  .mapContainer {
    display: flex;
    background-color: #FFF7E1;;
  }
  
  .mapItems {
    padding: 10px;
    flex: 1 1 100%;
  }

}