@media only screen and (min-width: 560px) {
  li a {
    border-right: 1px solid #1C7377;
    }

  .greengrapes {
    display: none;
  }

  .strawberry {
    display: flex;
  }

  .waterMelon {
    display: none;
  }

  .fruitContainer {
    display: flex;
  }

  .heroTitle {
    right: 30;
    /* width: 53%; */
    font-size: 1.8rem;
    text-align: center;
    padding: 10px;
  }

  .herobtn {
    width: 150px;
    padding: 10px;
    right: 4%;
    top: 60%;
    padding: 10px;
    width: 150px;
    
  }

  .orange {
    display: flex;
  }

  .drinkingImg {
    margin-left: 12%;
    margin-right: auto;
    width: 100%;
  }

  .mapContainer{
    display: flex;
    margin: 5px 0;
  }
  
  .mapContent {
    flex: 1 1 100%;
  }

  .mapImg {
    width: 85%;
    margin-left: 7%;
    margin-top: 20px;
    margin-right: auto;
    height: 100%;
    margin-bottom: 25px;
  }

  .mapInfo {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .mapContainer {
    display: block;
  }

}

