@media only screen and (min-width: 560px) {
  li a {
    border-right: 1px solid #1C7377;
    }

  .greengrapes {
    display: none;
  }

  .strawberry {
    display: flex;
  }

  .waterMelon {
    display: none;
  }



  /* .heroaddress {
    position: absolute;
    top: 9%;
    left: 5%;
    background-color: #ADD8CF;
    padding: 15px;
    text-align: center;
    color: #0d3233;
    width: 15%;
    box-shadow: 10px 10px 10px #000;
    opacity: 0.9;
    border-radius: 5px;
  } */

  .fruitContainer {
    display: flex;
  }

  .heroTitle {
    right: 30;
    /* width: 53%; */
    font-size: 2.0rem;
    text-align: center;
  }

  .herobtn {
    width: 150px;
    padding: 10px;
  }

  .orange {
    display: flex;
  }

  .drinkingImg {
    margin-left: 12%;
    margin-right: auto;
    width: 100%;
  }
  .mapContainer{
    display: flex;
    margin: 5px 0;
  }
  
  .mapContent {
    flex: 1 1 100%;
    /* background-color: #ADD8CF; */
    
  }

  .mapImg {
    width: 85%;
    margin-left: 7%;
    margin-top: 20px;
    margin-right: auto;
    height: 100%;
    margin-bottom: 25px;
    
  }
  .mapInfo {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .mapContainer {
    display: block;
    
  }

}

