html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  max-width: 1200px;
  min-width: 350px;
  margin: auto;
  align-content: center;
}

h1, h2 {
  font-family: 'Marcellus', serif;
}

h3, p {
  font-family: 'Blinker', sans-serif;
}

h3 {
  text-align: center;
  border-bottom: 2px solid #FFCD62;
  background-color: #FFF7E1;
  padding: 5px;
}   

header{
  background-color: #1C7377;
  min-width: 350px;
}

header .titlehead {
  display: flex;
  text-align: center;
  padding: 0px;
  margin: auto;
}

.title {
  color: white;  
  text-align: center;
  margin: auto;
  font-size: 2rem;

}

.titlecontent {
  flex: 1 1 100%;
}

.social {
  margin: auto;
}

.social img {
  padding: 5px;
}

#hambtn {
  margin: .2rem  2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color:#ADD8CF;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: none;
  border-left: 1px solid  #1C7377;
  border-bottom: 1px solid  #1C7377;
}

nav ul.open{
  display: block;
}

li a {
  text-decoration: none;
  color: #0d3233;
  font-size: 18px;
  padding: .8rem 2vw;
  display: block;
  padding: .8rem 2vw;
  border-top: 1px solid #1C7377;
}

 nav a:hover {
  background-color: #FFF7E1;
}

.active {
  color: #b78314;
}

.dateContainer {
background-color: #FFF7E1;
text-align: center;
padding: 5px;
}

main {
  width: 95%;
  margin: auto;
}

footer {
  background-color:#1C7377;
  display: block;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
}

.years {
  display: inline;
  margin: 20px;
}

.visitDate {
  padding: 5px;
}

footer div {
  display: flex;
}

.footerTitle {
  margin-right: 60px;
}

.footerContent {
  flex: 1 1 100%;
  padding: 5px;
  margin-bottom: 0px;
}

.footerContent2 {
  flex: 1 1 100%;
  text-align: center;
}

.footerRes {
  margin-top: 0px;
  padding-top: 0px;
}

.references a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.references a:hover {
  background-color: #FFF7E1;
  color: #0d3233;
}

.aboutUs a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.aboutUs a:hover {
  background-color: #FFF7E1;
  color: #0d3233;
}

.visitDate {
  margin-right: 10%
}

#hambtn span:nth-child(1) {
  display: block;
}

#hambtn span:nth-child(2) {
  display: none;
}

#hambtn.open span:nth-child(1) {
  display: none;
}

#hambtn.open span:nth-child(2) {
  display: block;
}

/*//////////index//////////*/

.heroContainer {
  position: relative;
  padding-top: 5px;
}
 
.heroimg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.heroTitle {
  position: absolute;
  top: 10%;
  right: 40%;
  background-color: #ADD8CF;
  color: black;
  font-weight: bolder;
  font-size: 1rem;
  filter: brightness(150%);
  padding: 5px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #000;
  opacity: .8;
  font-size: 1.5rem;
}

.heroaddress {
  display: none;
}

.herobtn {
  position: absolute;
  right: 4%;
  top: 60%;
  padding: 7px;
  width: 110px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #ADD8CF;
  font-weight: 600;
  font-size: .7rem;
}

.fruitContainer {
  display: block;
  text-align: center;
  margin: 2.5px 0;
}

.fruitContent {
 padding: 5px;
 }

.fruitpara {
  padding: 5px;
}

.strawberry {
display: none;
}

.weather {
background-color: #ADD8CF;
padding: 5px;
border-radius: 5px;
box-shadow: 1px 1px 4px 1px #888;

}

.townWeather {
text-align: center;
}

.weatherContainer {
  display: flex;
}

.weatherContent {
  flex: 1 1 100%;
  padding:10px;
}

.foreContainer {
  display: flex;
}

.foreContainer1 {
  flex: 1 1 100%;
  border: 2px solid white;
  padding: 7px;
}

.foreContent {
  align-content: center;
}

.weathertoday {
  font-size: 1.3rem;
  padding: 3% 0px;
  text-align: center;
}

.currentTemp {
  background: none;
  border: none;
  color: black;
  padding: 5px;
}

.threeTitle {
  text-align: center;
}

.townWeather {
  color:#0d3233;
}

.createDrinks {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #FFCD62;
 }

.createbtn {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #ADD8CF;
  font-weight: 600;
  margin-bottom: 15px;
  width: 200px;
}

.drinkContainer {
  margin: 2.5px 0;
}
 
.drinks {
  margin-top: 5px;
  display: flex;
}

.drinkImg {
  flex:1 1 auto;
  align-items: center;
}

.drinkImg img {
  margin-left: 27%;
  margin-right: auto;
  width: 50%
}

.orange {
  display: none;
}

.waterMelon {
  display: none;
}

.mapContainer{
  display: block;
}

.mapContent {
  flex: 1 1 100%;
  padding-right: 20px;
}

.mapImg {
  width: 85%;
  margin-left: auto;
  margin-right: auto;

}

.mapInfo {
  margin-left: auto;
  margin-right: auto;
  background-color: #ADD8CF;
}

/*//////////References////////// */

.references {
  text-align: center;
  color:#0d3233;
}

.mainreference a {
  text-decoration: none;
  color:#0d3233; 
  padding: 5px;
}

.mainreference a:hover {
  background-color: #FFF7E1;
}

/*//////////Fresh//////////*/

.formTitle {
  text-align: center;
  color:#0d3233; 
}

fieldset {
  margin: 2rem 0 ;
  border: 1px solid #1C7377;
  border-radius: 10px;
  padding: 0.5rem 2%;
}

form legend {
  
  color: #1C7377;
  margin: 0 1rem;
}

label.info {
  display: block;
  padding-top: 1rem;
  color: #0d3233;
  font-size: .9rem;
}

label.info input {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 28rem;
  background-color: rgba( 0,0,0,0.1);
  box-sizing: border-box;
}

.selectTitle {
  display: block;
  margin-top: 20px;
}

.list {
  padding-bottom: 20px;
}

.special {
  display: block;
}

.addBtn, .orderBtn {
  border: none;
  background-color: #9c2c13;
  color:white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 10rem;
}

textarea {
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 24rem;
  background-color: rgba( 0,0,0,0.1);
}

.orderTotal {
display: none;
}

/*//////////About Us//////////*/

.aboutTitle, .mapLocation {
  text-align: center;
  color: #0d3233; 
}

.beachPic {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.mapContainer {
  display: block;
  background-color: #ADD8CF;
  padding: 15px; 
  align-items: center;
  margin: auto;
}

.mapImg{
margin-left:auto;
margin-right: auto;
width: 98%;
padding: 5px;
}

.locationPara {
  text-decoration: none;
  color: #0d3233;
}

.locationPara p:hover {
  background-color: #ADD8CF;
}

.mapLocation {
  margin-left: auto;
}

