body {
  max-width: 1200px;
  min-width: 350px;
  margin: auto;
  align-content: center;
}

h1, h2 {
  font-family: 'Marcellus', serif;
}

h3, p {
  font-family: 'Blinker', sans-serif;
}

h3 {
  text-align: center;
  border-bottom: 2px solid #FFCD62;
  background-color: #FFF7E1;
  padding: 5px;
}   

header{
  background-color: #1C7377;
  min-width: 350px;
}

header .titlehead {
  display: flex;
  text-align: center;
  padding: 0px;
  margin: auto;
}

.title {
  color: white;  
  text-align: center;
  margin: auto;
}

.titlecontent {
  flex: 1 1 100%;
}

.social {
  margin: auto;
}

.social img {
  padding: 5px;
}

#hambtn {
  margin: .2rem  2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
}

nav {
  background-color:#ADD8CF;
}

nav ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: none;
  border-left: 1px solid  #1C7377;
}

nav ul.open{
  display: block;
}

li a {
  text-decoration: none;
  color: #1C7377;
  padding: .8rem 2vw;
  display: block;
  padding: .8rem 2vw;
  border-top: 1px solid #1C7377;
}

a:hover {
  background-color: #FFF7E1;
}

.dateContainer {
background-color: #FFF7E1;
text-align: center;
padding: 5px;
}

main {
  width: 95%;
  margin: auto;
}

footer {
  background-color:#1C7377;
  display: flex;
  margin: 10px 0px;
  justify-content: center;
  align-items: center;
}

.footerContent {
  flex: 1 1 100%;
}

#hambtn span:nth-child(1) {
  display: block;
}

#hambtn span:nth-child(2) {
  display: none;
}

#hambtn.open span:nth-child(1) {
  display: none;
}

#hambtn.open span:nth-child(2) {
  display: block;
}

/*//////////index//////////*/

.heroContainer {
  position: relative;
  padding-top: 5px;
  margin: 2.5px 0;
}
 
.heroimg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.heroTitle {
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: #ADD8CF;
  color: black;
  font-weight: bolder;
  font-size: 2.5rem;
  filter: brightness(150%);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #000;
  opacity: .8;
}

.heroaddress {
  position: absolute;
  top: 9%;
  left: 5%;
  background-color: #ADD8CF;
  padding: 15px;
  text-align: center;
  color: #1C7377;
  width: 15%;
  box-shadow: 10px 10px 10px #000;
  opacity: 0.9;
  border-radius: 5px;
}

.herobtn {
  position: absolute;
  right: 4%;
  top: 70%;
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #ADD8CF;
}

.addTitle {
  border-bottom: 1px solid #1C7377;
  margin: 0px;
  padding: 0px;
}

.heroAddress{
  border-bottom: none;
  background: none;
}

.fruitContainer {
  display: flex;
  text-align: center;
  margin: 2.5px 0;
  
}

.fruitContent {
 padding: 5px;
 }

 .fruitpara {
  padding: 5
  px;
 }

 .weatherContainer {
  display: flex;
  margin-top: 2.5px;

 }

 .weatherContent {
  flex: 1 1 100%;
  padding: 5px;
 }

 .createDrinks {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #FFCD62;
 }

 .createbtn {
  padding: 15px;
  border-radius: 25px;
  box-shadow: 10px 10px 10px #000;
  background-color: #ADD8CF;
}

.weatherAPI {
  background-color: #ADD8CF;
}

.drinkContainer {
  margin: 2.5px 0;
}
 
.drinks {
  margin-top: 5px;
  display: flex;
}

.drinkImg {
  padding: 5px;
  margin-left: 5%;
  margin-right: auto;
}

.mapContainer{
  display: flex;
  margin: 5px 0;
}

.mapContent {
  flex: 1 1 100%;
  background-color: #ADD8CF;
  padding: 15px;
}



/* .heropic {
  grid-column: 1/4;
  grid-row: 1/2;
}

.strawpic {
  grid-column: 1/2;
  grid-row: 2/3;
}

.fruitComment {
  grid-column: 2/3;
  grid-row: 2/3;
} */