body {
  font-family: Trebuchet MS, Calibri, sans-serif;
  align-items: center;
}

header, footer {
  margin: 1.25rem auto;
  max-width: 750px;
}

nav, main {
  margin: 1.25rem auto;
  max-width: 710px;
}

header {
  background-color: rgb(27, 63, 87);
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px #888;
}

.my-image {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: left;
}

header img {
  display: grid;
  width: 120px;
  margin: 15px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 1px #888
}

.headertext {
  margin-left: 30px;
}

.headline {
  border-bottom: 2px solid gray;
  padding-top: 10px;
}

li {
  font-size: 18px;
  color: dimgray;

}

h2 {
  font-size: 16px;
  color: dimgray;
  border-top: 2px solid gray;
  padding-bottom: 20px;
}

footer {
  padding: 2px;
  font-size: 18px;
  background-color: rgb(27, 63, 87);
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 10px 10px 5px #888;
}

.date {
  color: rgb(235, 203, 123);
  font-size: 16px;
}